<h1>upload a photo</h1>

<div class="container">
  <div class="row">
   <%= form_for @image do |f| -%>


    <div>
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>


    <div>
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>


    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div>
      <%= f.label :private %>
      <%= f.check_box :private %>
    </div>

    <div>
      <%= f.submit 'Share' %>
    </div>

     <% end %>
 </div>