<div class="container">
  <div class="row">
   <div>

      <h3>Sign Up!</h3>


      <%= form_for @user do |f| %>
        
      <br>

        <div class="form-group">
           <%= f.label :first_name %>
           <%= f.text_field :first_name, value: @user.first_name, class: "form-control" %>
        </div>

        <div class="form-group">
           <%= f.label :last_name %>
           <%= f.text_field :last_name, value: @user.last_name, class: "form-control" %>
        </div>

        <div class="form-group">
           <%= f.label :email %>
           <%= f.text_field :email, value: @user.email, class: "form-control" %>
        </div>

        <div class="form-group">
           <%= f.label :username %>
           <%= f.text_field :username, value: @user.username, class: "form-control" %>
        </div>

        <div class="form-group">
           <%= f.label :password %>
           <%= f.password_field :password, class: "form-control" %>
        </div>


        <div class="form-group">
           <%= f.label :password_confirmation %>
           <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>


        <div>
           <%= f.submit "Save Changes" %>
        </div>


      <% end %>
   </div>
  </div>
</div>

