
<% if current_user == @user %>
  <%= link_to "Edit #{@user.first_name}'s Information", edit_user_path(@user) %>
    <%= link_to "Cancel #{@user.first_name}'s account?", :user, method: :delete, data: {confirm: "Are you sure you want to remove your account, #{@user.first_name}? You are Magnificent and we'd like you to stay!"} %>
<% end %>

<div class="container text-center center-block">
  <div class="row">
   
              <h1> <%= @user.first_name %>  <%= @user.last_name %></h1>

  

              <b > <%= @user.category %> </b>
              <br>
              <p class="text-left"> <%= @user.bio %> </p> 
              <br>
              <p> <%= @user.contact_info %> </p>
            
        </div>

      


         

        <div class="container">
          <div id="posts" class="center-block"> 
            <h6> <%= @user.first_name %>'s Porftolio </h6>

    <!-- user posts -->
    <% @user.posts.each do |post| %>
      <div class="box panel panel-default">
        <%= link_to image_tag(post.image.url(:tile)), post %>
        <p><%= link_to post.title, post %></p>
        </div>  
    <% end %>   
      
        </div>

      </div>
   
</div>



 

  

  

