
<header ng-class="{false: 'body-pushed'}[main.pushmenu]">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <%= link_to('PRINiT', root_path, class: "navbar-brand") %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div>
          <ul class="nav navbar-nav">
            <li><%= link_to('Home', root_path) %></li>
            <li><%= link_to('Discover', posts_path) %></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">  
            <% if !logged_in? %>
              <li><%= link_to('Your Account', user_path(current_user)) %></li>
              <li class="cart-text"><%= render 'layouts/cart_text' %></li>
              <!-- <li><a href="#">Signed in as <%= @current_user %></a></li> -->
              <li><%= link_to('Logout', logout_path, :method => :delete) %></li> 
            <% else %>
              <li><%= link_to('Sign Up', new_user_path) %></li>
              <li><%= link_to('Log In', login_path) %></li>
           <!--  <li><a ng-click="main.pushmenu = !main.pushmenu">Log In</a> -->
            </li> 
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</header>