<div class="well">

  <div class="row">
    <div class="col-xs-4">
      <h4><%= @post.title %></small></h4>
    </div>
    <div class="col-xs-8">
      
      <%= form_for :order_item, url: order_items_path do |f| %>
      <h4 class="text-right">Unit Price: <span class="text-right" style="color: green"><%= number_to_currency @post.price %></span></h4>
        <div class="input-group post-indiv">
          <%= f.number_field :quantity, value: 1, class: "form-control number-field", min: 1 %>
          <br />
            <%= f.hidden_field :variant_id, :value => "{{ main.getVariantId }}" %>
            <%= f.hidden_field :file_url, :value => '{{ main.image_url }}' %>
          
            <%= f.hidden_field :post_id, value: @post.id %>
            <div class="input-group-btn">
              <%= f.submit "Add to Cart", class: "btn btn-primary" %>
            </div>
        </div>
      <% end %>
    </div>
    
  </div>
</div>