<h1>Discover + Print</h1>

 <% @printful.option_name.each do |canv_size| %>
      <p><%= canv_size %></p>
    <% end %>

<h2><%= link_to('Upload new images', new_post_path) %></h2>

  <div> 

    <!-- user posts -->
    <% @posts.each do |post| %>
    <% if post.public == true %>
      <div class="">
        <%= link_to image_tag(post.image.url(:tile)), post %>
        <p class="post-title"><%= link_to post.title, post, class: "user-index-post-title" %></p>
        </div>
      <% end %> 
    <% end %>  

    
    <h3><%= @printful.model_name %> Size options</h3>
    
   
   
    
   
</div>