<div class="container indexcont center-block" ng-mouseenter="main.imgArrayFunc(); main.testFunc()">
<h1 class="text-center post-index-title">Discover + Print</h1>
<p>{{4 + 4}}</p>
 

<!-- Large modal -->
<div class="modal fade" id="slide-modal">

  <button type="button" id="modal-close" class="close" data-dismiss="modal" aria-hidden="true"><%= link_to(image_tag('noun_100498_cc.png', alt: "", id: "modal-close")) %></button>

  <div class="modal-dialog modal-lg" id="modal-placement">
    <div class="modal-content">
      <div id="modal-body">

<!-- carousel body -->
  <div id="slide-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
  
    <div class="carousel-inner">
        
            <% @posts.each do |post| %>
             <% if post.public == true %>

            <div class="item {{main.activeCarouselIndex}}">
            <%= image_tag(post.image.url(:carousel_slide), alt: post.description, class: "carouselSlide") %>
            <div class="container">
                <div class="carousel-caption">
                    <h5><%= link_to(post.title, post_path(post), class: "carousel-post-info") %></h5>
                    <p><%= link_to("by " + post.user.username, post_path(post), class: "carousel-post-info") %></p>
                    <%= link_to('VIEW POST', post_path(post), class: "clear-btn slide-btn btn btn-sm") %>
  
                </div>
            </div>
          </div>

            <% end %>
           <% end %>
        
    </div>

    </div>

        
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  <!-- carousel controls -->
      <div id="gly-div-left">
         <a class="left carousel-control" href="#slide-carousel" data-slide="prev"><span class="glyphicon glyphicon-menu-left"></span></a>
      </div>
      <div id="gly-div-right">
        <a class="right carousel-control" href="#slide-carousel" data-slide="next"><span class="glyphicon glyphicon-menu-right"></span></a>
      </div>
</div><!-- /.modal -->


  <div class="text-center masonry-container center-block">
 <br>

        <!-- user posts -->
        <div class="user-post-div">
            <% @posts.each do |post| %>
            <% if post.public == true %>
                  <div class="imgDiv">   
                   <a class="thumbnail-modal-trigger" data-toggle="modal" href='#slide-modal' ng-click="main.setIdVar()"><%= image_tag(post.image.url(:post_thumbnail), class: "indexImg center-block") %></a>
                  </div>
              <% end %> 
            <% end %>  
        </div>

  </div>
     
</div>