<div class="container indexcont center-block" ng-mouseenter="main.imgArrayFunc(); main.testFunc()">
<h1 class="text-center post-index-title">Discover + Print</h1>
<p>{{4 + 4}}</p>
 

<!-- Large modal -->
<div class="modal fade" id="slide-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">


<div id="slide-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
  
    <div class="carousel-inner">
        
            <% @posts.each do |post| %>
             <% if post.public == true %>

            <div class="item {{main.activeCarouselIndex}}">
            <%= image_tag(post.image.url(:carousel_slide), class: "carouselSlide") %>
            <div class="container">
                <div class="carousel-caption">
                    <h1><%= link_to(post.title, posts_path(@post), class: "individual-post-title") %></h1>
                    <p>by <%= post.user.username %></p>
                    <p>
                </div>
            </div>
          </div>

            <% end %>
           <% end %>
        
    </div>
    <a class="left carousel-control" href="#slide-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#slide-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>

        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


  <div class="text-center masonry-container center-block">
  <h3><%= link_to('Add something new', new_post_path) %></h3>
        <!-- user posts -->
        <div class="user-post-div">
            <% @posts.each do |post| %>
            <% if post.public == true %>
                  <div class="imgDiv">   
                   <a class="thumbnail-modal-trigger" data-toggle="modal" href='#slide-modal' ng-click="main.setIdVar()"><%= image_tag(post.image.url(:post_thumbnail), class: "indexImg center-block") %></a>
                  <%= link_to(post.title, posts_path(@post), class: "individual-post-title") %>
                  </div>
              <% end %> 
            <% end %>  
        </div>

  </div>
     
</div>